

{% extends 'base.html' %}

{% block content %}
{% load staticfiles %}

<div class="container-fluid bg-light d-flex justify-content-center pt-5 pb-5">
    {% for i in dog_infos %}
    <a href="{% url 'diary_dog' i.num %}"><img src="{{i.image.url}}" alt="..." class="rounded-circle mr-2 ml-2" style="width: 100px; height: 100px;"></a>
    {%endfor%}
</div>
<div class="container-fluid pl-0 pr-0">
    <nav>
        <div class="nav nav-tabs bg-light">
            <a class="nav-item nav-link " href="{% url 'diary_dog' dog_num %}" aria-selected="false">애견정보</a>
            <a class="nav-item nav-link " href="{% url 'vaccination' dog_num %}" aria-selected="false">예방접종</a>
            <a class="nav-item nav-link active" href="{% url 'diagnosis' dog_num %}" aria-selected="true">진료</a>
          <a class="nav-item nav-link" href="{% url 'dailylife' dog_num %}" aria-selected="false">일상</a>
          </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        
        
        <div class="tab-pane fade show active">
            <div class="container mt-5 tab-pane fade show active">
                <div class="row d-flex justify-content-between ">
                  <div class="col">
                    <h2>진료</h2>
                  </div>        
                </div>
                <div class="row mb-3">
                  <div class="col text-right">
                    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#diag">
                        추가하기
                    </button>
                  </div>
                </div>
            <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">진료</th>
                        <th scope="col">날짜</th>
                        <th scope="col">병원</th>
                        <th scope="col">약</th>
                        <th scope="col">기타</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for i in diagnosis%}
                            <tr>
                              <td>{{i.kind}}</td>
                              <td>{{i.count}}</td>
                              <td>{{i.hospital}}</td>
                              <td>{{i.medicine}}</td>
                              <td>{{i.record}}</td>
                              <td>
                                <a href="{% url 'diag_delete' i.id dog_num %}"><i class="fas fa-trash-alt text-secondary"></i></a>
                              </td>
                            </tr>
                          {%endfor%}
                    </tbody>
                  </table>
        </div>     
      </div>
</div>

<div class="modal fade" id="diag" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header bg-primary">
          <h5 class="modal-title text-white" id="exampleModalScrollableTitle ">진료 기입</h5>
          <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
 
        
        <div class="modal-body">
          <form action="{% url 'diag_add' %}" class="m-0">
            <div class="form-group row">
              <input type="hidden" name="dog" value="{{dog_num}}">
              <label class="col-sm-3 col-form-label mb-2">약</label>
              <div class="col-sm-9">
                <input class="form-control" type="text" name="medicine">
              </div>
              <label class="col-sm-3 col-form-label mb-2">가격</label>
              <div class="col-sm-9">
                <input class="form-control" type="number" name="price">
              </div>
              <label class="col-sm-3 col-form-label mb-2">병원 이름</label>
              <div class="col-sm-9">
                <input class="form-control" type="text" name="hospital">
              </div>
              <label class="col-sm-3 col-form-label mb-2">날짜</label>
              <div class="col-sm-9">
                <input class="form-control" type="date" name="date">
              </div>
              <label class="col-sm-3 col-form-label mb-2">다음 진료 날짜</label>
              <div class="col-sm-9">
                <input class="form-control" type="date" name="next_date">
              </div>
              <label class="col-sm-3 col-form-label mb-2">진료</label>
              <div class="col-sm-9">
                <input class="form-control" type="text" name="kind">
              </div>
              <label class="col-sm-3 col-form-label mb-2">기타 사항</label>
              <div class="col-sm-9">
                <input class="form-control" type="textarea" name="record">
              </div>
              <label class="col-sm-3 col-form-label mb-2">지역</label>
              <div class="col-sm-9">
                <select name="area" class="form-control">
                  <option value="1">종로, 중구, 용산</option>
                  <option value="2">도봉, 강북, 성북, 노원</option>
                  <option value="3">동대문, 중랑, 성동, 광진</option>
                  <option value="4">강동, 송파</option>
                  <option value="5">서초, 강남</option>
                  <option value="6">동작, 관악, 금천</option>
                  <option value="7">강서, 양천, 영등포, 구로</option>
                  <option value="8">은평, 마포, 서대문</option>
                </select>
              </div>
            </div>
            <div class="container d-flex justify-content-center">
                <input class="btn btn-primary" type="submit" value="저장하기">
            </div>
            
          </form>
        </div>
      </div>
    </div>
  </div>
  

{% endblock %}