

{% extends 'base.html' %}

{% block content %}
{% load staticfiles %}

<div id="carouselExampleIndicators" class="carousel slide container-fluid pl-0 pr-0" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div style="background-image:url({% static 'main_img01.jpg' %});" class="d-block w-100 text-center pt-5 pb-5" alt="...">
              <p class="mt-5">동물병원 비용 비교에는 야너독!</p>
              <h3>코로나 백신 서울 평균 비용</h3>
              <h1 class="mb-5">{{corona}} 원</h1>
            </div>
          </div>
          <div class="carousel-item">
            <div style="background-image:url({% static 'main_img01.jpg' %})" class="d-block w-100 text-center pt-5 pb-5" alt="...">
              <p class="mt-5">동물병원 비용 비교에는 야너독!</p>
              <h3>종합백신 서울 평균 비용</h3>
              <h1 class="mb-5">{{vaccin}} 원</h1>
            </div>
          </div>
          <div class="carousel-item">
            <div style="background-image:url({% static 'main_img01.jpg' %})" class="d-block w-100 text-center pt-5 pb-5" alt="...">
              <p class="mt-5">동물병원 비용 비교에는 야너독!</p>
              <h3>켄넬 코프 백신 서울 평균 비용</h3>
              <h1 class="mb-5">{{cenel}} 원</h1>
            </div>
          </div>
          <div class="carousel-item">
            <div style="background-image:url({% static 'main_img01.jpg' %})" class="d-block w-100 text-center pt-5 pb-5" alt="...">
              <p class="mt-5">동물병원 비용 비교에는 야너독!</p>
              <h3>신종플루 백신 서울 평균 비용</h3>
              <h1 class="mb-5">{{sinjong}} 원</h1>
            </div>
          </div>
          <div class="carousel-item">
              <div style="background-image:url({% static 'main_img01.jpg' %})" class="d-block w-100 text-center pt-5 pb-5" alt="...">
                <p class="mt-5">동물병원 비용 비교에는 야너독!</p>
                <h3>광견병 백신 서울 평균 비용</h3>
                <h1 class="mb-5">{{meddog}} 원</h1>
              </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
</div>


<div class="container mt-5 ">
    <div class="row mb-3">
        <h2>가격비교</h2>
    </div>
    <div class="row">
        <div class="col bg-light mr-3 ml-3 text-center " style="height:200px">
          <p class="mt-5">{{ cityname.0 }}</p>
          <p>종합 백신 평균 비용</p>
          <p class="mb-5">{{ city.0 }}원</p>
        </div>
        <div class="col bg-light mr-3 ml-3 text-center " style="height:200px">
          <p class="mt-5">{{ cityname.1 }}</p>
          <p>종합 백신 평균 비용</p>
          <p class="mb-5">{{ city.1 }}원</p>
        </div>
        <div class="col bg-light mr-3 ml-3 text-center " style="height:200px">
          <p class="mt-5">{{ cityname.2 }}</p>
          <p>종합 백신 평균 비용</p>
          <p class="mb-5">{{ city.2 }}원</p>
        </div>
        <div class="col bg-light mr-3 ml-3 text-center " style="height:200px">
          <p class="mt-5">{{ cityname.3 }}</p>
          <p>종합 백신 평균 비용</p>
          <p class="mb-5">{{ city.3 }}원</p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col bg-light mr-3 ml-3 text-center " style="height:200px">
            <p class="mt-5">{{ cityname.4 }}</p>
            <p>종합 백신 평균 비용</p>
            <p class="mb-5">{{ city.4 }}원</p>
          </div>
          <div class="col bg-light mr-3 ml-3 text-center " style="height:200px">
            <p class="mt-5">{{ cityname.5 }}</p>
            <p>종합 백신 평균 비용</p>
            <p class="mb-5">{{ city.5 }}원</p>
          </div>
          <div class="col bg-light mr-3 ml-3 text-center " style="height:200px">
            <p class="mt-5">{{ cityname.6 }}</p>
            <p>종합 백신 평균 비용</p>
            <p class="mb-5">{{ city.6 }}원</p>
          </div>
          <div class="col bg-light mr-3 ml-3 text-center " style="height:200px">
            <p class="mt-5">{{ cityname.7 }}</p>
            <p>종합 백신 평균 비용</p>
            <p class="mb-5">{{ city.7 }}원</p>
          </div>
    </div>
</div>


{% endblock %}

